.header {
    height: 80px;
    width: 100%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__right {
    width: 100%;
    display: flex;
    justify-content: end;
}

.linkGroup {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    gap: 15px;
    font-size: 20px;
    margin-right: 50px;
}

.link {
    text-decoration: none;
    position: relative;
    padding-bottom: 2px;
    color: black;
    transition: all 0.2s ease-in;
}

/* Анимация для подчеркивания ссылок */
.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: red;
    transition: width 0.3s ease;
}

.link:hover {
    color: red;
}

.link:hover::after {
    width: 100%;
}

.phoneLink {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in;
}

.phoneLink:hover {
    color: red;
}