.main {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-grow: 1;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.banner {
    border-radius: 40px;
    opacity: 94%;
    height: 570px;
    width: 1070px;
    background-image: url("/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner_title {
    text-align: center;
    font-size: 50px;
    color: white;
}

.banner_title span {
    color: rgb(255, 32, 32);
}

.banner_text {
    color: white
}

.buttonGroup {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.clients_button {
    height: 45px;
    width: 270px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(255, 32, 32);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.clients_button:hover {
    background-color: rgb(190, 24, 24);
}

.employers_button {
    height: 45px;
    width: 270px;
    font-size: 18px;
    font-weight: 700;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.employers_button:hover {
    background-color: rgb(160, 160, 160);
}

.cardTitle_block {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.cardsWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.cardItem {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 6px 4px 6px 2px rgba(34, 60, 80, 0.2);
    height: 360px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
}

.cardImg {
    width: 50px;
    height: 50px;
}